.widget {
  background: $options-background;
  margin-bottom: $xl-size;
}

.widget--no-items {
  color: $light-purple;
  margin: 0;
  padding: $l-size;
  text-align: center;
  border-bottom: 1px solid lighten($light-purple, 10%);
}

.widget-header {
  background: $blue;
  color: $light-purple;
  padding: $m-size;
  display: flex;
  justify-content: space-between;
}

.widget-header__title {
  margin: 0
}
